*{
    margin: auto;
    padding: 0;
    box-sizing:border-box;
}

body{
    background-color: rgb(66, 5, 66);
}
header{
   background-color: skyblue;
   text-align: center;
}
footer{
    background-color: burlywood;
    text-align: center;
}
